@use "sass:meta";
@use "variables";

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@include meta.load-css('variables');

$text-color: #333;
$subtext-color: #777;
$link-color: #555;
$link-hover-color: #000;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$font-family-sans-serif;
    align-content: space-evenly;
    background-color: variables.$background-color;
    height: 100vh;
    max-width: 650px;
    margin: auto;
}

.home-header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: $text-color;
    }

    p {
        font-size: 1.2rem;
        color: $subtext-color;
    }
}

.home-main {
    text-align: center;

    ul {
        list-style-type: none;

        li {
            margin: 1rem 0;

            a {
                text-decoration: none;
                font-size: 1.5rem;
                color: $link-color;
                font-weight: 500;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $link-hover-color;
                }
            }
        }
    }
}

.blog-header, .author-main { margin: 1rem; }

.author-header, .blog-main {
    margin: 1rem;

    nav ul, div ul {
        list-style-type: none;
    }
}

